 body {
    /*font-family: Arial;*/
    color: #555;
  }
  
  .container {
    margin-left: 10px;
  }
  
  .node rect {
    fill-opacity: 1.0;
    shape-rendering: crispEdges;
  }
  
  .node text {
    pointer-events: none;
    fill: #555;
  }
  
  .link {
    fill: none;
    stroke: #000;
    stroke-opacity: .5;
  }
  
  .link:hover {
    stroke-opacity: 1.0 !important;
  }
  
  div.tooltip {
    position: absolute;
    padding: 5px;
    text-align: left;
    font: 12px sans-serif;
    color: #000;
    background: #AAA;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
    border-radius: 8px;
  }
  
  .nytg-sort li.selected {
    background: none repeat scroll 0 0 #e9e9e9;
    border-color: #aaa;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset;
    color: #555;
  }

  .nytg-sort li.enabled {    
    border-color: #808080;
    color: #595959;
  }  
  
  ul {
    list-style: outside none none;
    margin-top: 80px;
  }

   .nytg-sort li {
    background: none repeat scroll 0 0 #f9f9f9;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    color: #999;
    cursor: pointer;
    float: left;
    font-size: 14px;
    margin: 0;
    padding: 10px 18px;
    border-radius: 4px 4px 4px 4px;
  }

  #infotext {
    position: relative;
    top: 15px;
    left: 16px;
    width: 950px;
  }

  #title_TD {
    position: relative;
    top: -683px;
    left: 228px;
    font-size: 14px;
    font-weight: bold;
    width: 300px;
  }

  #subtitle_TD {
    position: relative;
    top: -682px;
    left: 191px;
    font-size: 14px;
    font-weight: bold;
    width: 300px;
  }

  #title_BU {
    position: relative;
    top: -733px;
    left: 960px;
    font-size: 14px;
    font-weight: bold;
    width: 300px;
  }

  #subtitle_BU {
    position: relative;
    top: -732px;
    left: 921px;
    font-size: 14px;
    font-weight: bold;
    width: 300px;
  }
  table, th, td {
    border: none;
    border-collapse: collapse;
    width: 1*, 1*, 2*;
  }
  th, td {
    padding: 2px;
    text-align: left;
  }